.main {
    width: 300px;
    margin-left: 360px;
    text-align: left;
}
 
.main-top {
/*    border-bottom: 1px solid var(--lightGray);
 */   margin-bottom: 32px;
    margin-top: 24px;
}

.discover-head {
    font-size: 28px;
    color: #004d00;
}

.top-links1 > a {
    text-decoration: none;
    color: black;
}

.top-links1 > a:hover {
    color: var(--mainBlue);
  }

.top-links1 {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.collection-btn1 {
    text-decoration: none;
    font-size: 18px;
}

.allportfolio-btn1 {
    border-bottom: 1px solid;
    font-size: 18px;
}

.frame11 {
    background-color: rgba(169, 223, 191, 0.1);
    border-bottom: 1px solid var(--lightGray);
    width: 1165px;
    height: auto;
    margin-left: 350px;
    /*margin-right: 60px;*/
    margin-top: 20px;
    margin-bottom: 20px;
border: 1px solid #004d00;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(169, 223, 191, 0.25);
    text-align: center;
}

.smallcase-page {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;
  }
  
  .filters {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 24%;
    height: auto;
    padding: 16px 16px;
  }
  
  .filter-heading {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #4f5153;
    border-bottom: 1px solid var(--lightGray);
    padding-bottom: 8px;
    font-size: 16px;
  }
  
  .filter-heading > p:last-child {
    cursor: pointer;
  }
  
  .investment-amount-filter,
  .volatility-filter,
  .sorting-filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .investment-amount-filter > p,
  .volatility-filter > p,
  .sorting-filters > p {
    font-weight: 600;
    font-size: 18px;
  }
  
  .amount-filter,
  .sort-filter {
    display: flex;
    align-items: center;
  }
  
  .filter-icon {
    margin-right: 8px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--lightGray);
  }
  
  #filter-icon-blue {
    border: 4px solid var(--mainBlue);
  }
  
  #clearFilters {
    color: var(--darkGray);
    font-weight: 500;
  }
  .volatility-btns {
    display: flex;
    justify-content: space-between;
  }
  
  .volatility-btn {
    cursor: pointer;
    border: 1px solid;
    border-color: #004d00;
    border-radius: 10%;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: 500;

  }
  
  .volatility-btn:hover {
    background-color: rgba(129,135,140,.08);
  }
  
  
  #volatility-btn-blue {
    border: 2px solid var(--mainBlue);
    color: var(--mainBlue);
  }
  

  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #1f7ae0;
    ;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    border-radius: 50%;
    background: white;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
}


.cat label input {
position: absolute;
display: none;
color: gray;
}

.cat input:checked + span{
border: 2px solid var(--mainBlue);
color: var(--mainBlue);
padding: 7px 7px;
}